.section1 {
	background: url(../images/bg1.jpg) center center/cover no-repeat;
}

.section1-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, .25);
}

.rest-info {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;

	border: 2px solid red;
}

.main-headline {
	color: rgb(255, 255, 255);
	font-family: $Oswald;
	font-size: 112px;
	font-weight: 400;
}

.work-info_hours {
	color: rgb(255, 255, 255);
	font-family: $Vollkorn;
	font-size: 27px;
	font-weight: 400;
	text-align: center;
}

.work-info_phone {
	@extend .work-info_hours;
}



