/*-----------------------------colors----------------------------*/
$google-red: #ea4335;
$btn-col-act: #c35c00;
$twitter-blue: #38a1f3;
$btn-col-hov: #d66f14;
$btn-col-add: #828282;
$facebook-blue: #3b5998;
$text-col: #4f4f4f;
$btn-col: #f2994a;


/*-----------------------------fonts----------------------------*/
$default-font: "Times New Roman";

$Oswald: 'Oswald', Helvetica, Arial, sans-serif;
$Roboto: 'Roboto', Helvetica, Arial, sans-serif;
$Vollkorn: 'Vollkorn', 'Times New Roman', serif;


/*-----------------------------screen resolutions----------------------------*/
$phone-portrait: 320px;
$phone-landscape: 480px;

$tablet-small: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 980px;

$desctop: 1200px;
$desctop-big: 1400px;