extends ../template

block variables
	- var title = 'Index'

block content
	include ../common/header.pug
	include ../sections/section1.pug
	include ../sections/section2.pug
	include ../sections/section3.pug
	include ../sections/section4.pug
	include ../sections/section5.pug
	include ../sections/section6.pug
	include ../sections/section7.pug
