.top-line
	nav.nav
		ul.nav_list
			li.nav_item
				a.nav_link(href="#") Кухня
			li.nav_item
				a.nav_link(href="#") Залы
			li.nav_item
				a.nav_link(href="#") Наш шеф
			li.nav_item
				a.nav_link(href="#") Мероприятия
			li.nav_item
				a.nav_link(href="#") Как добраться
			li.nav_item
				a.nav_link(href="#") Контакты