section.section.section1
	.section1-screen 
	.container
		.section-content
			.rest-info
				.main-headline Ресторан «Мясной Двор»
				.work-info
					.work-info_hours Часы работы: 12.00 - 1.00, ежедневно
					.work-info_phone +7(431) 651-01-21
				button.reseration-btn Забронировать столик
				.socials
