.text {
	font-family: $Vollkorn;
	font-size: 18px;
	color: $text-col;
	font-weight: 400;
	line-height: 21px;
}

.headline {
	font-family: $Oswald;
	font-size: 48px;
	color: #000000; 
	font-weight: 400;
	line-height: 56px;
}

.card-headline {
	font-family: $Oswald;
	font-size: 24px;
	color: #000000;
	font-weight: 400;
	line-height: 28px;
}






